<div id="myModal" class="modal" role="dialog" style="display: block !important">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-primary" (click)="Save()" > Save</button>
        <button type="button" class="btn btn-default"  (click)="Cancel()">Cancel</button>
      </div>
    </div>

  </div>
</div>